<header>
    <h1 class="title">{ get.Weather }</h1>
    <nav>
        <a id="weather-link" class="navigation__link" href="/">Weather</a>
        <a id="about-link" class="navigation__link" href="/about">About</a>
        <a id="help-link" class="navigation__link" href="/help">Help</a>
    </nav>
</header>